.buttonClass{
    text-align: center;
}
.header{
    background-color: rgb(248, 100, 55);
}
.fixed{
    position: relative;
    top: 8px;
    left: 16px;
}

.heading{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;

}

select[multiple] {
    overflow: auto;
    
}

label{
    font-weight: bold;
    font-size: larger;
}
.message{
    text-align: center;
    color: rgb(24, 182, 24);
    font-weight: bolder;
    font-size: 20px;
}
.container{

    background-color:rgb(243, 243, 243);
    height: 100%;
}
.series{
    overflow: hidden !important;

}
form{
    border: 1px solid rgb(226, 226, 226);
    margin-top: 10px;
    height: 400px;
    background-color: rgb(216, 215, 252);
}
.form-row{
    margin: 20px;
}
.warn{
    text-align: center;
    color: rgb(235, 32, 5);
    font-weight: bolder;
    font-size: 20px;
}