
  <div class="col-md-12 container" >
    <div class="header">
      <div class="fixed">
        <img src="/assets/images/samplePage.jpg" alt=""/>
      </div>
      <div>
        <h2 class="heading">VOD Add Load Processor</h2>
      </div>
      <br>
    </div>
    <br>
    <div class="col-md-12">
  <!-- Form starts -->

  <form name="reportForm"  class="formContainer">

      <div class="form-row" style="display: flex;">
        <div class="form-group col-md-4">
          <label for="provider">Providers <sup style="color: red;">*</sup></label>
          <select class="form-control" id="provider" required [(ngModel)]="provider" name="provider" (change)="getSeriesList()">

              <option *ngFor="let os of providerList" [value]="os">{{os}}</option>
              </select>
        </div>
        <div class="form-group col-md-4 series">
          <label for="series">Series <sup style="color: red;">*</sup></label>
          <select class="form-control" id="series" required [(ngModel)]="series" name="series" (change)="getEpisodeList()">

              <option *ngFor="let series of seriesList" [value]="series.seriesResourceID">{{series.seriesName}}</option>
            </select>
        </div>
        <div class="form-group col-md-4 episodeClass">
          <label for="episode">Episode </label>
          <select select multiple class="form-control" idid="episode" required [(ngModel)]="episode" name="episode">
            <option *ngFor="let os of episodeList" [value]="os.episodeResourceID+spacerEp+os.duration">{{os.episodeTitle}} S{{os.seasonNumber}} E{{os.episodeNumber}}</option>
            <!-- <option *ngFor="let os of episodeList" [value]="os">{{os}}</option> -->
            </select>
        </div>
      </div>
      <br>
      <br>
      <!-- Submit Button -->
      <div>
        <h3 style="color: red; margin-left: 20px; font-weight: bold;"><sup>*</sup> Required Fields</h3>
      </div>
   <div class="buttonClass">
      <button style="background-color: #f7625a;;" class="btn btn-primary"  (click)="onSubmit()" id="bt">
         SUBMIT
     </button>

     <!-- <button type="submit" style="background-color: #fc5047;" class="btn btn-primary"  [disabled]="!reportForm.form.valid" (click)="onSubmit()">Submit</button> -->
      &nbsp;&nbsp;<button class="btn btn-primary" style="background-color: #69c07c;" (click)="onClear()" >CLEAR</button>
   </div>
   <br>
   <br>
   <div class="warn">
     {{warningMessage}}
   </div>

   <div class="message">
     {{displayMessage}}
   </div>
   <br>

    </form>
   
    <!-- <div class="message">
      {{displayMessage}}
    </div> -->
  </div>
</div>
